
body {
    background-color: rgb(184, 219, 55);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color: royalblue;
}

button {
    color: rgb(240, 27, 134);
    width: 150px;  

}
.hidden {
    /* visibility: hidden; */
}
